.dropbtn {
    font-family: 'Lato';
    font-weight: bold;
    background-color: #FF944D;
    color: #fff;
    padding: 0.75rem 1rem;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }

  @media screen and (max-width: 820px) {
      .dropdown{
        display: inline-block;
        padding-top: 80px;
        padding-left: 1rem;
      }
  }

  @media (max-width:1024px) {
    .dropdown{
      display: inline-block;
      padding-top: 80px;
      padding-left: 1rem;
    }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #535353;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a:hover {color: #ff944d;}